.nav-enlace{
background: salmon;
color: #ffffff;
padding: 10px 30px;
display: inline-block;
text-decoration: none;

}

.nav-enlace:hover{
background: slateblue;


}

nav{
background: slateblue;
padding: 10px;
}