body{
font-family: 'Lato', sans-serif;
}

h1{
font-weight: 400;

}

p{
font-weight: 300;

}

.container{
margin: 0 auto;
width: 90%;
}

.flex{
display: flex;
flex-wrap: wrap;

}

.text-center{
  text-align: center;


}


.columna{
background: rgb(245, 245, 245);
color: #333;
border: 1px solid rgb(189, 189, 189);
margin: 0 auto;
padding: 10px;
border-radius: 5px;
box-shadow: 5px 5px 15px  rgb(202, 202, 202);
width: 23%;
box-sizing: border-box;
}

.precio{
font-size: 50px;
color: #3300FF;

}

.btn-precio {
background: rgb(82, 41, 245);
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
margin-bottom: 10px;
border-radius: 5px;

}

.btn-precio:hover{
  background: #3300FF;
}

@media (max-width: 1070px){

.columna{

  width: 45%;
  margin-bottom: 20px;
}
}


@media (max-width: 600px){
.columna{

  width: 100%;
  margin-bottom: 20px;
}

}